
.widget-selected {}

button {
    border:0;
    background: #1E88E5;
    color: white;
    font-family: -system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}
}

.tab-button {
    margin-right: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab-widget-top {
    display: flex;
    flex-direction: column;
}

.tab-widget-left {
    display: flex;
    flex-direction: row;
}

.tab-widget-right {
    display: flex;
    flex-direction: row-reverse;
}

.tab-widget-bottom {
    display: flex;
    flex-direction: column-reverse;
}


.tab-wiget-toptabs {
    display: flex;
    flex-direction: column;
}

.tab-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 15px;
}

.tab-container {
    display: block;
    background-color: lightgray;
    width:100%;
    height: 100%;
}