
.widget-selected {}

button {

}

.tab-button {
    min-width: 5em;
    min-height:1em;
}

.tab-widget {
    display: flex;
    flex-direction: row;

}

.tab-wiget-toptabs {
    display: flex;
    flex-direction: column;
}

.tab-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: darkgray;
}

.tab-content {
    display: flex;
    flex-direction: column;
}